[submodule ".development/Godot-MQTT-Module"]
	path = .development/Godot-MQTT-Module
	url = https://github.com/alexis-evelyn/Godot-MQTT-Module
[submodule ".development/Godot-Lua-Module"]
	path = .development/Godot-Lua-Module
	url = https://github.com/alexis-evelyn/Godot-Lua-Module
[submodule ".development/Godot-3.2-Sweet-Tea"]
	path = .development/Godot-3.2-Sweet-Tea
	url = https://github.com/alexis-evelyn/Godot-3.2-Sweet-Tea
